body, html {
    height: 100%;
    margin: 0;
    position: relative; /* Permite que o posicionamento absoluto funcione corretamente */
  }
  
  #image {
    width: 300px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: absolute;
    top: 50%; /* Posiciona no meio da tela verticalmente */
    left: 50%; /* Posiciona no meio da tela horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centralizar a imagem exatamente */
  }
  