/* Estilos gerais */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container da imagem */
#image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

/* Estilo da imagem */
#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s linear;
}

/* Controles */
#controls {
  margin-top: 20px;
}

#speed-input {
  width: 80px;
  padding: 5px;
  text-align: center;
}

#set-speed-button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

#set-speed-button:hover {
  background-color: #0056b3;
}

/* Exibição da frequência e do período */
#speed, #period, #frequency {
  margin-top: 20px;
  font-size: 20px;
}
